
*.aux

extended_competition2012.blg

*.log

*.out

extended_competition2012.pdf

extended_competition2012.synctex.gz

.Rhistory

clarifying_optimization.pdf

clarifying_optimization.synctex.gz

supplement.pdf

supplement.bbl

supplement.blg

supplement.synctex.gz

cover letter/ISU-letterhead.pdf

cover letter/ISU-letterhead.synctex.gz

cover letter/ISULEFTR-eps-converted-to.pdf

cover letter/ISU-letterhead.tex

cover letter/ISULEFTR.eps

cover letter/ISULEFTRW-eps-converted-to.pdf

cover letter/ISULEFTRW.eps

cover letter/cover_letter.pdf

cover letter/cover_letter.synctex.gz

cover letter/cover_letter.tex

cover letter.zip

*.history
